## 룸 옵션 등급 매기기

In [56]:
import pandas as pd
df_DABANG = pd.read_csv('DABANG.csv')
df_DGDR = pd.read_csv('DGDR.csv')
df_WOOJOO = pd.read_csv('WOOJOO.csv')

In [58]:
df_DABANG[:2]
df_DGDR[:2]
df_WOOJOO[:2]

,Unnamed: 0,_id,title,roomName,gender,roomType,py,deposit,rentFee,region,brandType,roomOption,url,imgUrl
0,0,65d83d3d586d871d4e26c4d5,이태원431,Room A,2,0,5.0,3000000,620000,녹사평역,0,WIFI 에어컨 세탁기 냉장고,https://www.woozoo.kr/houses/IT431,https://dgdr.co.kr/upload/jijum/238342658_Gf6X...
1,1,65d83d3f586d871d4e26c4d6,이태원431,Room B,2,0,7.0,3000000,670000,녹사평역,0,WIFI 에어컨 세탁기 냉장고,https://www.woozoo.kr/houses/IT431,https://dgdr.co.kr/upload/jijum/238342658_Gf6X...

In [39]:
# 'roomOption' 열의 값들을 문자열로 변환 후 소문자롸 변경
df_DABANG['roomOption'] = df_DABANG['roomOption'].astype(str).str.lower()

In [40]:
df_DABANG['roomOption']

0      벽걸이형 책상 옷장 신발장 냉장고 세탁기 싱크대 인덕션 전자레인지 화재경보기 비디오...
1                      벽걸이형 침대 신발장 냉장고 세탁기 싱크대 가스레인지 tv
2                 벽걸이형 신발장 싱크대 가스레인지 무인택배함 인터폰 cctv 현관보안
3      천장형 식탁 신발장 싱크대 인덕션 화재경보기 베란다 무인택배함 비디오폰 인터폰 카드...
4      신발장 싱크대 가스레인지 화재경보기 베란다 비디오폰 인터폰 카드키 cctv 사설경비...
                             ...
549    벽걸이형 옷장 신발장 냉장고 세탁기 싱크대 인덕션 화재경보기 인터폰 cctv 현관보...
550                           신발장 싱크대 인덕션 비디오폰 cctv 현관보안
551                          벽걸이형 신발장 냉장고 세탁기 싱크대 가스레인지
552                        벽걸이형 냉장고 세탁기 싱크대 가스레인지 전자레인지
553    벽걸이형 천장형 옷장 신발장 냉장고 세탁기 건조기 싱크대 인덕션 전자레인지 붙박이장...
Name: roomOption, Length: 554, dtype: object

In [41]:
# 문자열 분리 후 리스트 저장
df_DABANG['roomOption'] = df_DABANG['roomOption'].apply(lambda x: x.split())
df_DABANG['roomOption']

0      [벽걸이형, 책상, 옷장, 신발장, 냉장고, 세탁기, 싱크대, 인덕션, 전자레인지,...
1              [벽걸이형, 침대, 신발장, 냉장고, 세탁기, 싱크대, 가스레인지, tv]
2        [벽걸이형, 신발장, 싱크대, 가스레인지, 무인택배함, 인터폰, cctv, 현관보안]
3      [천장형, 식탁, 신발장, 싱크대, 인덕션, 화재경보기, 베란다, 무인택배함, 비디...
4      [신발장, 싱크대, 가스레인지, 화재경보기, 베란다, 비디오폰, 인터폰, 카드키, ...
                             ...
549    [벽걸이형, 옷장, 신발장, 냉장고, 세탁기, 싱크대, 인덕션, 화재경보기, 인터폰...
550                    [신발장, 싱크대, 인덕션, 비디오폰, cctv, 현관보안]
551                    [벽걸이형, 신발장, 냉장고, 세탁기, 싱크대, 가스레인지]
552                  [벽걸이형, 냉장고, 세탁기, 싱크대, 가스레인지, 전자레인지]
553    [벽걸이형, 천장형, 옷장, 신발장, 냉장고, 세탁기, 건조기, 싱크대, 인덕션, ...
Name: roomOption, Length: 554, dtype: object

In [54]:
# 공백 값 리스트를 '없음'으로 변환
def change_list (get_list):
    final_list =[]
    for i in get_list:
        new_list =[]
        if len(i) == 0:
            new_list.append('없음')
        else:
            set_array = set(i) # 중복 제거 
            new_list = list(set_array) # (set -> list 변환)
        final_list.append(new_list)
    return final_list

In [53]:
df_DABANG['roomOption'] = change_list(df_DABANG['roomOption'])

In [35]:
df_DABANG['roomOption'].unique()

TypeError: unhashable type: 'list'